body{
  margin:0;
  position: relative;
}

.site-logo{
  font-size:3em;
  margin-top:100px;
  text-transform: none;
}


header{
  font-size:20px;
  font-family: 'Lato', sans-serif;
  font-weight:thin;
  color:white;
  background-image:url(../img/header-image.png);
  background-position: center;
  letter-spacing: 1px;  
  text-transform: uppercase;
  position:relative;
}

header h1{
  line-height: normal;
}

#headerBar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background: black;
  height: 19px;
  padding:5px;
  color: white;
  font-size: 10px;
}

#headerBar a {
  color: white;  
}

#socialLinks {
  color:white;
  position: absolute;
  top: 50px;
  right: 70px;
  z-index: 99;
}

#socialLinks ul {
  list-style: none; 
}

#socialLinks li {
  padding-right: 8px;
  display: inline;
}


#headerNav {
  float: right;
  width: 70%; 
}

#headerNav ul {
  list-style: none;
  text-align: right; 
  width: 95%; 
}

#headerNav li {
  position: relative;
  display: inline;
  padding-left: 14px; 
}

#headerNav li.has-sub-menu {
  padding-right: 8px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-top: -9px;
  max-width: 204px;
  float: right;
}

#headerNav li.has-sub-menu > a {
  background: url(../images/filteredArrow.png?v=1) right 11px no-repeat;
  padding-right: 12px;  
  max-width: 170px;
  float: left;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#headerNav li.has-sub-menu:hover {
  background: #d5d5d5;  
}

#headerNav li.has-sub-menu:hover .sub-menu {
  display: block;
}

#headerNav .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 28px;
  width: 140px;
  text-align: left;
  background: #e4e4e4;
  z-index: 5;
  line-height: normal;
}

#headerNav .sub-menu li {
  display: block; 
  padding: 0;
}

#headerNav .sub-menu li a {
  display: block;
  padding: 8px 14px;
}

#headerNav .sub-menu li a:hover {
  background: #f1f1f1;  
}

/*
.topnavbar{
  position:relative;
  font-size:18px;
  background-color: black;
  width:100%;
  padding:10px;
}*/

.subnav {
  background-color: blue;
  height: 40px;
  line-height: 42px;
  width: 100%;
  color: black;
  font-size: 20px;
  text-align: center;
  border-top: 1px solid white;
  -webkit-transition: background 0.4s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: background 0.4s linear 0s;
  -o-transition: background 0.4s linear 0s;
  transition: background 0.4s linear 0s;
}

.fixontop{
  position: fixed;
  top:20px;
}

.subnav ul{
  padding:0;
  margin:0;
}

.subnav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
}

.subnav li:hover {
  color: #bcbec0;
}

.subnav li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  height: 10px;
  width: 1px;
  background: white;
}

.subnav li:last-child::after {
  display: none;
}

.subnav li.is-active {
  color: #868688;
}

.subnav.is-sticky {
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #f1f1f2;
  color: black;
}

.subnav.is-sticky li:hover {
  color: #868688;
}

.subnav.is-sticky li:after {
  background: black;
}


.to-the-top{
  position:absolute;
  left:0;top:0;
  display:none;
  color:#868688;
}

#subscription-bar{
  margin:auto;
  width:25%;
  margin-top:4em;
  margin-bottom:3em;
}


form label{
  background-color: black;
  border-radius: 4px;
  color:white;
  font-size:14px;
  margin-left: 1em;
  margin-right: .5em;
  padding:5px 7px 5px 7px;
  letter-spacing: 1px;
}

.feature-story{
  border-color:rgba(126, 126, 103, 0.45);
  border-width:1em;
  margin:auto;
  padding-top:1em;
  width:65em;
  height:38em;
  color:rgb(255, 255, 255);
  background-image:url("../img/feature-story-image-2.jpg");
  background-size:100%;
}

.feature-story-intro{
  margin-top:25em;
  height:155px;
}

.feature-story-intro h2{
  padding-top:.5em;
  padding-left:.5em;
  padding-right:1em;
}

.feature-story-intro button{
  color:#192f2e;
}

.home-texonomy button{
  display:inline-block;
  padding-right:.5em;
}

.feature-story p{
  padding-left:1em;
}

.featurenavbar{
  width:95%;
  position: relative;
  text-transform: uppercase;
  color: #373737;
  padding-top:2em;
  padding-bottom:2em;
}

.featurenavbar li{
  display:inline;
}

.featurenavbar li a:hover{
  text-decoration: none;
  color:blue;
}

#mag-left-nav {
  font-size:small;
  text-transform: capitalize;
  text-align:left;
  margin-top:2em;
  margin-left:0;
  cursor:pointer;
}

#mag-left-nav li ul{
    display:block;
    width:auto;
    text-align: left;
  }


#mag-left-nav li ul li{
  display:block;
}

#mag-center-nav{
  text-align: center;
  margin-left:14em;
  cursor:pointer;
}

#mag-right-nav{
  font-size:small;
  text-align:right;
  margin-top:2em;
  float:right;
  cursor:pointer;
}

#mag-right-nav li{
  padding-right:5px;
}

/*#mag-drop-down li ul{
    font-size:12px;
    display:block;
    width:auto;
    text-align: left;
  }*/

#story-grids{
  width:auto;
  margin: auto;
  height:900px;
}

#weeklyArticles, #otherArticles {
  position: relative;
  list-style: none;
  padding-top: 52px;
  margin: 0 auto;
  overflow: hidden;
  height: 800px;
  min-width: 693px;
}


#otherArticles {
  overflow: visible;
  height: auto; 
}

#weeklyArticles li, #otherArticles li {
  float: left;
  width: 221px;
  margin-right: 15px; 
  height: auto;
}


#weeklyArticles.large li {
  width: 457px;
}

#weeklyArticles li.last, #otherArticles li.last {
  margin-right: 0;  
}

#weeklyArticles.justTitle li, #otherArticles.justTitle li {
  height: 220px;  
}

#weeklyArticles.large .weeklyTitle {
  font-size: 15px;
  padding-bottom: 15px; 
}

#weeklyArticles.large .weeklyImage img {
  min-width: 457px;
  min-height: 300px;
}


.weeklyImage {
  position: relative;
  width: 221px;
  height: 153px;
  overflow: hidden; 
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.weeklyImage:hover{
  opacity:.5;
}

.weeklyImage img {
  position: absolute;
  /*min-width: 221px;
  min-height: 153px;  */
}

#weeklyArticles.large .weeklyImage {
  width: 457px;
  height: 300px;
}

.not_allowed_content {
  display: none;
  padding-bottom: 3px;
}

.weeklyDate {
  text-transform: uppercase;
  font-size: 9px;
  padding-top: 10px;
  letter-spacing: 2px;
  color: #1d1d1d /*#444*/;
}

.weeklyTitle {
  padding: 20px 0 18px 0;
  text-transform: uppercase;  
  letter-spacing: 2px;
  line-height: 18px;
  font-size: 14px;
  color: #1d1d1d /*#444*/ /*#2a2a2a*/;
}

#weeklyArticles.large .weeklyTitle {
  padding-top: 37px;  
}

.weeklyExcerpt {
  font-family: Georgia, "Times New Roman", Times, serif;  
  color: #535353;
  line-height: 20px;
  padding-bottom: 50px;
  font-size: 13px;
}

.weeklyExcerpt p {
  padding-bottom: 0;  
}

.weeklyExcerpt .readMore {
  display: block;
  font-family:'P22JohnstonUndergroundW 945068', Arial, Helvetica, Sans-Serif;
  text-transform: uppercase;
  font-size: 9px;
  padding-top: 1px;
  letter-spacing: 1px;
}

#weeklyArticles a, #otherArticles a {
  color: #cb1511;
}
/*
.more, .loadmorecontainer {
  text-align: center; 
  position: relative;
  z-index: 2;
  margin-top:1em;
}

#story-grids .more a, .loadmorecontainer a {
  color: #373737; 
  padding-right: 18px;
  background: url(../img/glyphicons/png/glyphicons-433-plus.png) no-repeat right 3px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#story-grids .more a:hover, .loadmorecontainer a:hover {
  color: #777;  
}

#story-grids .more a.less {
/*  background-image: url(../img/glyphicons/png/glyphicons-433-plus.png);  
}*/*/

#dailyArticles {
  position: relative;
  list-style: none;
  padding-top: 40px;  
  margin: 0 auto 25px auto;
  overflow: hidden;
  height: 213px;
}

#dailyArticles li {
  position:relative;
  float: left;
  width: 162px; 
  margin: 0 15px 15px 0;
  height: 198px;
  background: #e3e3e3;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 17px;
  font-size: 12px;
}

#dailyArticles li:hover {
  color: #FFF;
  background: #929292;  
  cursor:pointer;
}

#dailyArticles li.last {
  margin-right: 0 !important; 
}

.dailyImage {
  position: relative;
  width: 162px;
  height: 99px;
  overflow: hidden; 
}

.dailyImage img {
  position: absolute;
  width: 162px; 
}

#first-image{
  height:150px;
}

#third-image{
  height:198px;
}

.dailyTitle {
  color: #1d1d1d /*#444*/ /*#2a2a2a*/;
  padding: 7px 13px 1px 13px;
  font-weight: bold;
}

#dailyArticles li:hover .dailyTitle {
  color: #FFF;  
}

.dailyExcerpt {
  padding: 0 13px 0 13px;
}

.dailyExcerpt p {
  padding: 0; 
}

#third-title {
  padding:6em 1em 1em 3em;
}

#third-image{
  background-image: url(..img/sample-location-image-1.jpg);
}

#home-footer{
}

/*location-styles*/

#location-grids{
  margin:auto;
  width:70em;
  margin-bottom:5em;
}

#location-grids li{
  list-style: none;
}

/*topic styles*/
#topic-grids{
  width:80%%;
  margin:auto;
  margin-bottom:10em;
}

.topic-grid-item{
  cursor:pointer;

}

.topic-grid-item:hover{
  opacity:.3;
}

#lipsum{
  font-size:20px;
  width:80%;
  margin:auto;
  height:700px;
}

