/* --- Container configuration ---------------------------------------------------------- */
.viewport {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    height:250px;

}

/* This is so that the 2nd thumbnail in each row fits snugly. You will want to add a similar
   class to the last thumbnail in each row to get rid of the margin-right. */
.no-margin {
    margin-right: 0;
}

/* --- Link configuration that contains the image and label ----------------------------- 
*/

.viewport a {
    display: block;
    position: relative;
    border-radius: 8px;
}


/* --- Label configuration -------------------------------------------------------------- */
.viewport a span {
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    height: 100%;
    padding:110px 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    border-radius: 8px;
}
    .viewport a span em {
        display: block;
        font-size: 0.45em;
        font-weight: normal;
    }

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}
    .dark-background em {
        color: #ccc;
    }

/**
 * You could create multiple hover background classes for different looks depending on the
 * image type. Use your imagination!
 */
